[core]
	editor = \"C:\\Users\\wenka\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
	excludesfile = 
	longpaths = true
	autocrlf = true
[user]
	name = platelets
	email = wenkanedward@gmail.com
[http "https://github"]
	com = http://127.0.0.1:1080
[http "https://github.com"]
	sslVerify = false
[init]
	defaultBranch = main
[http]
	sslverify = false
	postBuffer = 524288000
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[https]
	proxy = http://localhost:7890
[safe]
	directory = C:/Users/wenka/source/repos/Snap.HutaoAPI
	directory = C:/Users/wenka/OneDrive/Work/读书笔记
	directory = C:/Users/wenka/code/JAVA_WORKSAPCE/BlogSystem
